/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Roboto', arial, sans-serif;
}
header{
    height: 550px;
    background-color: #0c325a;
}
.container{
    width: 1024px;
    margin: 0px auto;
}
.logo{
    background-color: aqua;
    border: 1px solid black;
    width:100px;
    height: 100px;

}
.nav{
    background-color: aqua;
    border: 1px solid black;
    width:300px;
    height: 100px;
}
.log{
    background-color: aqua;
    border: 1px solid black;
    width:200px;
    height: 100px;
}
.col{
    float: left;
}
.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}